*{
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 35px;
}
.navbar-nav{
    margin-top: 5px;
}
.navbar-list{
    display: flex;
    gap: 42px;
    align-items: center;
}
.navbar-list a{
    text-decoration: none;
    color: #323232;
    padding: 2px 7px;
}
.navbar-list a:hover{
    background-color: rgb(255, 231, 221);
    border-radius: 5px;

}
.navbar-list .active{
    font-weight: 700;
    color: #F78434;
}
.navbar-list .active:hover{
    background-color: rgb(248, 246, 246);
    border-radius: 5px;
}
.row{
    display: flex;
}
.col{
    max-width: 50%;
    margin-left: 5px;
}
.main-heading{
    font-size: 54px;
    line-height: 1.5;
    width: 640px;
    position: relative;
    margin-top: 127px;
    letter-spacing: 0.8px;
    color: #323232;
    margin-bottom: 0;
    z-index: 2;
}
.text{
    line-height: 1.5;
    margin: 25px 30px 0 0 ;
    letter-spacing: 1.15px;
    color: #323232;
}
.intro-img{
    margin-left: 15px;
    animation: img-scale 3s 2 linear 1s;
    z-index: 1;
}
.intro-form{
    position: relative;
}
.btn{
    background-color: #F78434;
    font-weight: 700;
    color: white;
    font-size: 16px;
    display: inline-block;
    padding: 18px 37px 16px;
    border-radius: 58px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
.btn:hover{
    background-color: rgb(248, 246, 246);
    color: #F78434;
}
.intro-form{
    overflow: hidden;
    margin-top: 42px;
    max-width: 460px;
    position: relative;

}
.intro-form-text{
    border: 0;
    padding: 20px;
    padding-left: 72px;
    font-size: 16px;
    box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
    border-radius: 50px;
    outline: none;
    width: 100%;
}
.intro-form .btn{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

}
.logo-list{
    display: flex;
    justify-content: space-between;
    margin-top: 102px;
    text-decoration: none;
    align-items: center;
}
.lable{
    position: absolute;
    left: 28px;
    bottom: 18px;
}
.col-pictures{
    display: flex;
    gap: 32px;
}
.col-pictures:nth-last-of-type(2){
    position: relative;
}
.row-block3{
    display: flex;
    margin-top: 102px;
    margin-bottom: 145px;
    background-color: #fff;
}
.col1{
    margin-left: -165px;
}
.col-block3 {
    line-height: 1.5;
    margin: 68px 0 0px 171px;
    color: #323232;
}
.col-block3 h2{
    font-size: 42px;
    letter-spacing: 0.8px;
    margin: 0;
}
.col-block3 p{
    letter-spacing: 1.15px;
    margin-top: 20px;
    margin-bottom: 0%;
    font-size: 16px;
}
.col-block3 a{
    margin-top: 40px;
    padding: 18px 39px 16px;
}
.block3-absolut{
    position: absolute;
    border-radius: 15px;
    right: -46px;
    bottom: 87px;
    background-color: #fff;
    padding: 32px  29px 32px 94px;
    color: #323232;
}
.block3-absolut::before{
    content: url(../img/Group5.svg);
    display: block;
    position: absolute;
    margin-left: -70px;
    margin-top: 10px;
}
.block3-absolut p:nth-of-type(1){
    font-weight: 700;
    letter-spacing: 0.8px;
    margin: 0;
}
.block3-absolut p:nth-of-type(2){
    letter-spacing: 1.15px;
    line-height: 1.5;
    margin: 0;
}
.product-block{
    background-image: url(../img/product-bg.jpg);
    max-width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: -232px;
}
.product-block-img{
    position: absolute;
    top: 60px;
    left: -300px;
}
.product-block-text{
    color: #fff;
    margin: 92px 95px 91px 651px;
    line-height: 1.5;
}
.product-block-text h2{
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 0.08px;
    margin: 0;
}
.product-block-text p{
    color: #fff;
    letter-spacing: 1.15px;
    margin: 15px 0 30px;

}
.btn-product{
    background-color: #fff;
    font-weight: 700;
    color: #323232;
    font-size: 16px;
    display: inline-block;
    padding: 18px 29px 16px 49px  ;
    border-radius: 58px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-left: 20px;
}
.btn-product::before{
    content: url(../img/play.svg);
    display: block;
    position: absolute;
    margin-left: -20px;
}
.btn-product:hover{
    background-color: rgb(248, 246, 246);
    color: #F78434;
}
@keyframes img-scale{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.03);
    }
    100%{
        transform: scale(1);
    }
}
.block-buyer-seller{
    display: block;
    align-self: center;
}
.block-buyer-seller h2, .col-buyer p, .col-seller p, .choose-items p,  .h2, .block-buyer-seller p{
    text-align: center;
}
.row-buyer-seller{
    display: flex;
    gap: 30px;
    justify-content: center;
    position: relative;
    top: -182px;
}
.sect-buyer-seller{
    background-color: #F5F6FA;
    padding-top: 377px;
    padding-bottom: 207px;
}
.choose-sect{
    margin-top: -70px;
    margin-bottom: 111px;
}
.col-buyer{
    background-color: #F78434;
    color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 88px 39px ;
}
.col-buyer .btn, .col-seller .btn{
    background-color: #fff;
    color: #F78434 ;
}
.col-buyer .btn:hover, .col-seller .btn:hover{
    background-color: rgb(248, 246, 246);
}
.col-seller{
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 88px 39px;
    color: #323232;
}
.col-seller h2, .col-buyer h2{
    margin-bottom: 0;
    margin-top: 10px;
    padding: 5px 0;
    letter-spacing: 0.8px;
}
.block-buyer-seller h2{
    letter-spacing: 0.8px;
    color: #323232;
}
.block-buyer-seller p{
    margin-bottom: 45px;
    letter-spacing: 1.15px;
    color: #323232;
}
.block-buyer-seller h2{
    margin-bottom: 0;
    margin-top: 15px ;
    font-size: 42px;
}
.col-buyer p, .col-seller p{
    margin-top: 0;
    margin-bottom: 25px;
    letter-spacing: 1.15px;
    line-height: 1.5;
}
.block-choose{
    display: flex;
    gap: 35px;
    justify-content: center;
}
.choose-items{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h2{
    font-size: 42px;
    margin-bottom: 58px;
    margin-top: 0;
    color: #323232;
    letter-spacing: 0.8px;
}
.choose-items h2{
    font-size: 28px;
    color: #323232;
    letter-spacing: 0.5px;
    margin: 15px 0 2px 0;
    padding: 5px 0;
}
.choose-items p{
    letter-spacing: 1.15px;
    line-height: 1.5;
    margin: 0;
}
.block-picture{
    display: flex;
    justify-content: space-between;
    margin-top: 59px;
    margin-bottom: 58px;
    align-items: center;
    color: #323232;
}
.block-picture h2{
    max-width: 45%;
}
.block-picture p{
    max-width: 37%;
}
.block-picture h2{
    font-size: 42px;
    letter-spacing: 0.8px;
    line-height: 1.5;
}
.block-picture p, .picture-items p{
    letter-spacing: 1.15px;
    line-height: 1.5;
}
.picture-items h2{
    font-size: 18px;
    letter-spacing: 0.6px;
    margin-top: 23px;
    margin-bottom: 0;
}
.picture-flex{
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 58px;
    max-width: 1110px;
}
.video{
    width: 350px;
    height: 204px;
    margin-bottom: 31px;
}

.picture-items h2, .picture-items p{
    padding: 0 29px;
}
.picture-items img{
    margin-bottom: 31px;
}
.picture-items p{
    margin: 0;
}
.picture-items:nth-of-type(3){
   position: relative;
}
.picture-items:nth-of-type(1){
    box-shadow:0px 10px 52px rgba(0, 0, 0, 0.08);
}
.picture-label{
    position: absolute;
    top: -10%;
    right: -10%;
}
.picture-items:nth-of-type(1) p:nth-of-type(2){
color: #F78434;
margin-bottom: 31px;
}
.picture-items:nth-of-type(3) p:nth-of-type(2), .picture-items:nth-of-type(2) p:nth-of-type(2){
    color: #58BEBF;
    margin-bottom: 31px;
}
.experience-sect{
    position: relative;
    background-image: url(../img/Bg.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    color: #fff;
    padding: 156px 0 55px 0px;
    margin-top: 110px;
}
.experience-img{
    position: absolute;
    bottom: 0;
    left: 48%;
}
.experience-text h2{
    font-size: 42px;
    letter-spacing: 0.8px;
    line-height: 1.5;
    margin: 0;
}
.experience-text p{
    letter-spacing: 1.15px;
    line-height: 1.5;
    margin: 15px 0 30px;
}
.experience-text .btn{
    background-color: #fff;
    color: #323232;
}
.experience-text .btn:hover{
    background-color: rgb(248, 246, 246);
    color: #F78434;
}
.footer-col-main p{
    letter-spacing: 1.15px;
    line-height: 1.5;
    margin: 15px 0 40px;
}
.main-footer{
    padding: 85px 0;
    color: #323232;
}
.social-link-item{
    display: inline-block;
    margin-right: 30px;
    font-size: 23px;
}
.social-link-fb{
    color: #4267B2;
    
}
.social-links-tw{
    color: #1DA1F2;
}
.social-links-yt{
    color: #FF0000;
}
.social-links-in{
    color: #006699;
}
.footer-row{
    display: flex;
    justify-content: space-between;
}
.footer-row2{
    display: flex;
    gap: 85px;
}
.footer-row2 h2{
    font-size: 21px;
    margin: 11px 0 18px;
}
.footer-col a{
    text-decoration: none;
    color: #323232;
    font-size: 14px;
    letter-spacing: 0.5px;
}
.footer-a{
    margin-bottom: 23px;
}
.footer-col-main img{
    margin-left: -7px;
}
.experience-text{
    max-width: 33%;
}







@media(max-width:1200px){
    .intro-img{
        max-width: 500px;
    }
    .col-block3{
        margin-left: 131px;
    }
    .logo-list img{
        max-width: 200px;
    }
    .container{
        max-width: 1035px;
        margin: 0 auto;
    }
    .navbar{
        margin-bottom: 35px;
        margin-top: 35px;
    }
    .logo-list{
        margin-bottom: 100px;
    }
    .product-block-text{
        margin-left: 621px;
        margin-right: 0;
    }
    .block3-absolut{
        right: -80px;
    }
    .row-block3{
        margin-bottom: 100px;
    }
    .picture-flex{
        flex-wrap: wrap;
        gap: 100px;
        margin-bottom: 0;
        margin-left: 1%;
    }
    .picture-items:nth-of-type(2){
        margin-left: 12%;
    }
    .block-picture p{
        max-width: 45%;
    }
    .block-picture, .experience-text, .main-footer{
        margin-left: 1%;
    }
    .experience-sect{
        margin-top: 0;}

    .picture-items{
        width: 350px;
    }
   
   






}
@media(max-width: 1070px){
    .navbar{
        flex-wrap: wrap;
        margin-left: 10px;
     }
    .block3-absolut{
        padding: 32px 0 32px 94px ;
        bottom: 87px;
        right: -1px;
        border-radius:15px 0 0 15px;
    }
    
    .navbar-list{
        gap:30px
    }
    .navbar img{
        margin: 15px 0;
    }
    .col{
        max-width: 95%;
        margin: 0;
    }
    .col-block3{
        margin-top: 15px;
    }
    .intro-img{
        margin: 30px 0 0 5px;
        max-width: 100%;
    }
   .row{
       flex-direction: column-reverse;
       gap: 30px;
       margin-left: 10px;
   }
   .main-heading{
       margin-top: 0;
       margin-left: 0;
   }
   .container{
       max-width: 700px;
       margin: 0 auto;
       align-items: center;
   }
   .row-block3{
       flex-direction: column;
       
   }
   .col-block3 p{
       max-width: 60%;
   }
   .logo-list{
       max-width: 100%;
       margin-top: 100px;
    }
   .logo-list img{
    max-width: 150px;
}

.product-sect{
    margin-top: 520px;
}
.product-block-text h2{
    padding-top: 40px
}
.product-block{
       overflow: visible;
       margin-bottom: -160px;
   }
    .product-block-img{
        left: -20px;
        top: -475px;
        max-width: 100%;
    }
    .product-block-text{
        margin:  0 0 0px 50px;
    }
    .product-block-text a{
        margin-top: 20px;
        margin-bottom: 60px;
    }
    .row-buyer-seller, .block-choose,.product-block, .picture-flex{
        flex-wrap: wrap;
        justify-content: start;
    }
    .experience-img{
        position: static;
        max-width: 300px;
        margin-top: 40px;

    }
   .experience-sect{
       padding-bottom: 0;
       margin-top: 0;
   }
   .experience-sect .container{
       display: flex;
       align-items: center;
   }
   .sect-buyer-seller{
       padding-top: 280px;
       padding-bottom: 540px;
   }
   .row-buyer-seller{
       top: -510px;
   }
   .choose-sect{
       margin-top: -450px;
   }
   .footer-row2{
       flex-wrap: wrap;   
       gap: 100px;   
   }
   .footer-row{
       flex-wrap: wrap;
       gap: 30px;
       margin-left: 2% ;
   }
   .main-footer{
       padding: 40px 0;
   }
   .footer-col-main p{
       margin: 10px 0;
   }
   .footer-a{
       margin-bottom: 7px;
   }
   .footer-row2 h2{
       margin: 0 0 10px;
   }
   .block-buyer-seller{
       justify-content: flex-start;
   }

   .col-buyer, .col-seller{
       width: 100%;
       align-items: flex-start;
       padding-left: 50px;
       padding-right: 0;
   }

   .col-seller p, .col-buyer p, .block-buyer-seller h2, .block-buyer-seller p, .choose-sect h2, .choose-items p{
       text-align: start;
   }
   .block-buyer-seller h2, .block-buyer-seller p , .choose-items, .experience-text{
       margin-left: 2%;
   } 
   .h2{
       margin-left: 2%;
       margin-bottom: 60px;
   }
   .choose-items{
       align-items: flex-start;
   }
  
   .block-picture{
    display: block;

}
.block-picture h2, .block-picture p {
    max-width: 99%;
}
.picture-flex{
    gap: 50px;
}
.picture-items{
    max-width: 300px;
}
.picture-items:nth-of-type(2){
    margin: 0;
}
.picture-items img, .picture-items .video{
    max-width: 300px;
}
.video{
    height: 175px;
}
.picture-label {
    top: -11%;
    right: -14%;
}
.experience-text{
    max-width: 50%;
}

}
@media(max-width: 700px){
    .navbar{
        flex-direction: column;
        margin-bottom: 10px;
    
    }
    .navbar img{
        margin: 15px 0 15px 15px;
    }
    .navbar a{
        align-self: flex-start;
    }
    .navbar-list{
        justify-content: space-between;
    }
    .logo-list{
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
    }
    .main-heading{
        font-size: 48px;
    }
    .text{
        margin-right: 0;
    }
    .container{
        max-width: 650px;
        max-width: 35px auto 0;
    }
    .picture-items{
        max-width: 450px;
    }
    .picture-items img, .picture-items .video{
        max-width: 450px;
    }
    .video{
        height: 204px;
    }
    .picture-label {
        top: -10%;
        right: -11%;
    }
    .experience-text{
        max-width: 70%;
    }
    
}
@media(max-width:650px){
    .block3-absolut{
        padding: 32px 0 32px 94px ;
        bottom: 87px;
        right: -1px;
        border-radius:15px 0 0 15px;

    }
    .col-block3 p{
        max-width: 100%;
    }
   .intro-img, .col1 img , .col2 img{
       max-width: 100%;
       margin-left: 0;
   }
   .main-heading, .col-block3 h2{
       max-width: 100%;
   }
   .main-heading, .col-block3 h2, .product-block-text h2, .block-buyer-seller h2,  .experience-text h2, .block-items h2{
       font-size: 30px;
   }
   .choose-sect h2{
       font-size: 21px;
   }
   .choose-sect .h2{
       font-size: 30px;
       margin-left: 4%;
   }
   p, .col-block3 p{
       font-size: 13px;
   }
   .main-heading{
       margin-top: 20px;
   }
   .col{
       margin: 0 5% ;
   }
   .row{
       margin-left: 15px;
   }
   .navbar-list{
    flex-wrap: wrap;
    gap: 10px;
    justify-content: start;
    margin: 0 10px;
}
.navbar{
    margin: 0 5%;
}
.row-block3{
    margin-left: 15px;
}
.col-block3{
    margin-top: 15px;
}
.product-block{
    margin: 0 5%;
}
.product-block img{
    top: -400px;
}
.product-sect{
    margin-top: 420px;
    margin-bottom: -160px;
}
.navbar img{
    max-width: 80%;
}

.col-buyer, .col-seller{
    margin: 0 5%;
}
.block-buyer-seller h2, .block-buyer-seller p , .choose-items, .experience-text, .footer-row, .block-items{
    margin-left: 5%;
} 
.experience-sect img{
    position: static;
}
.sect-buyer-seller{
    padding-top: 220px;
}
.experience-sect{
    padding: 70px 0 0px;
}
.footer-row2{
    gap: inherit
}
.footer-row2 a{
    font-size: 13px;
}

.footer-row2 h2{
    font-size: 16px;
}
.picture-items h2{
    font-size: 16px;
}
.product-sect {
    margin-top: 410px;}
}
@media(max-width: 585px){
    .experience-sect .container{
        flex-direction: column;
        align-items: flex-start;
    }
    .experience-sect img{
        margin-left: 5%;
    }
    .experience-sect {
        padding: 120px 0 0px;
    }
    .experience-text{
        max-width: 80%;
    }
    .product-block img {
        top: -360px;
    }
    .product-sect {
        margin-top: 370px;}

    
}
@media(max-width: 530px){
    .product-block img {
        top: -330px;
    }
    .product-sect {
        margin-top: 350px;}
}




@media(max-width: 490px){

    
    .logo-list{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .intro-form-text{
        font-size: 13px;
        padding-left: 40px;
    }
    .lable{
        left: 10px;
        bottom: 15px;
    }
    .btn, .col-block3 a{
        padding: 18px 20px 16px ;
    }
    .btn-product{
        padding: 18px 20px 16px 35px;
        margin-left: 10px;
    }
    .product-block img{
        top: -300px;
    }
    .product-sect{
        margin-top: 310px;
    }
    .block3-absolut{
        padding: 15px 30px 15px 60px ;
        bottom: 40px;
    }
    .block3-absolut::before{
        margin-left: -50px;
        top: 7px;
    }
    .btn-flex-product{
        justify-content: space-around;
    }
    .btn-product{
        margin-right: 10px;
    }
    .block-choose{
        gap: 0px;
    }
}
@media(max-width:435px) {
    .btn-flex-product{
        flex-direction: column;}
    .btn-flex-product .btn,  .btn-product{
        max-width: 150px;
        margin: 0;
    }
    .btn-flex-product{
        display: flex;
        gap: 20px;
    }
    .product-block-text{
        margin: 20px;
    }
    .row, .row-block3 {
        margin: 0;
    }
    
    .col, .product-block, .logo-list{
        margin: 0 3%;
    }
    .logo-list{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .navbar {
        margin: 0px;
    }
    .col-block3{
        margin-top: 20px;
    }
    .navbar img{
        max-width: 70%;
        margin-bottom: 5px;
    }
    .intro-img{
        margin-top: 15px;
    }
    .product-sect{
        margin-bottom: -205px;
    }
    .col-buyer, .col-seller{
        padding-left: 20px;
    }
    .block-choose{
        flex-direction: column;
        gap: 10px;
        margin-left: 20px;

    }
    .choose-items img{
        margin: 5px;
    }
    .col-buyer, .col-seller{
        margin: 0 3%;
    }
    .block-buyer-seller h2, .block-buyer-seller p , .choose-items, .experience-text, .footer-row{
        margin-left: 3%;
    } 
    .choose-sect .h2{
        font-size: 30px;
    }
    .picture-items img{
        max-width: 300px;
    }
    .picture-items{
        max-width: 300px;
    }
    .video{
        height: 175px;
        width: 300px;
    }
    .picture-label {
        top: -11%;
        right: -14%;

    }
    .main-heading, .col-block3 h2, .product-block h2, .block-buyer-seller h2, .choose-sect .h2, .blo h2, .experience-text h2 {
        font-size: 25px;
    }
    .product-block img {
        top: -280px;
    }
    .product-sect {
        margin-top: 300px;}



}
@media(max-width:365px){
    .picture-items img{
        max-width: 250px;
    }
    .picture-items{
        max-width: 250px;
    }
    .video{
        height: 145px;
        width: 250px;
    }
    .picture-label {
        top: -12%;
        right: -12%;
    }
    .experience-sect img{
        width: 250px;
    }
    .product-block img {
        top: -230px;
    }
    .product-sect {
        margin-top: 250px;}
}