.navbar{
    position: absolute;
    width: 100%;
    margin: 50px  0 ;
    
    @media(max-width:991px){
        margin: 20px 0;
    }

   
    &-nav{
        .nav-item{
            .nav-link{
                color: white;
                font-size: 18px;
                padding: 0 8px;
            }
            
        }
    }
    .navbar-toggler{
        border: 0;
        

        &-icon{
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
        &:focus{
            box-shadow: none;
        }
        @media(max-width:991px){
            order: 3;
        }
    }

    &-language{
        display: flex;

        &-item{
            font-size: 12px;
            color: white;
            letter-spacing: 1px;
            font-weight: 700;
            text-decoration: none;
            padding: 5px 6px;
            border-radius: 8px;
            

            &.active{
                background-color: $red-color;
            }
        }
    }
    .navbar-container{
        flex-wrap: wrap;
    }
    &-brand{
        order: 1;
        @media(max-width:991px){
            order: 2;
        }
    }
    @media(max-width:576px)
    {&-header-logo{
        width: 78px;
    }

    }
    &-top{
        order: 2;
        width: 71%;
        display: flex;
        justify-content: flex-end;
        margin-bottom: auto;
        align-items: center;
        @media(max-width:991px){
            order: 1;
            width: 100%;
            justify-content: space-between;
            margin-bottom: 15px;
        }
    }
    &-collapse{
        order: 3;
        width: 600px;
        margin-top: -40px;
        @media(max-width:991px){
            margin-top: 10px;
            margin-left: -9px;
        }
    }
    &-address, &-phone{
        color: white;
        text-decoration: none;
        margin: 0 14px;
    }
    &-phone{
        margin: 0 20px 0 5px;
        font-weight: 500;
        @media(max-width:991px){
            margin: 0 12px 0 0;
            color: #B3B3BA;
        }
    }
    &-phone::before, &-phone::after{
        content: url(../img/dot.svg);
        position: relative;
        color: #E6E6F0;
    }
    &-phone::after{
        left:9%;
    }
    &-phone::before{
        left: -3%;
    }
    &-social{
        margin-left: 10px;
    }
    @media(max-width:991px){
        &-address,  &-social,&-phone::before, &-phone::after{
            display: none;
        }
    }
    @media(max-width:991px){
        &-language-item:nth-of-type(2), &-language-item:nth-of-type(3){
        color:#B3B3BA ;}
    }
}


.second-page{
    .navbar{
        position: static;
        &-toggler-icon{
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
        &-nav .nav-item .nav-link{
            color: $blue;
        }
    }

    .navbar-top {
        width: 60%;
        a, p{
            color: $grey;
        }
        .navbar-language{
            .active{
                color: white;
            }
        }
    }
    .navbar-brand-more{
        font-size: 38px;
        color: #323264;
        &:before, &:after{
            content: "";
            background-image: url(../img/slash.svg);
            display: inline-block;
            width: 21px;
            height: 46px;
            background-size: contain;
            background-repeat: no-repeat;
            vertical-align: middle;
        }
        &:after{
            content: "";
            background-image: url(../img/symbol.svg);
            width: 41px;
        }
        @media(max-width: 1399px){
            font-size: 19px;
            &:before, &:after{
                height: 25px;
            }   
            &:before{
                width: 10px;
            }

        }
    }
}