.header {
    width: 100%;
    height: 100px;
    line-height: 100px;
}

.logo {
    text-align: center;
}

.img {
    width: 40%;
    object-fit: contain;
    margin-top: -40px;
}

.logo-title {
    font-weight: 600;
    font-size: 16px;
    color: #212245;
    margin: 0;
    margin-top: -40px;
}

.menu a {
    font-weight: 600;
    font-size: 16px;
    color: #212245;
    transition: 0.3s;
}

.menu a:hover {
    color: #df2020;
}

.active-nav {
    color: #df2020 !important;
}

.cart-icon i,
.user i,
.mobile-menu i {
    font-size: 21px;
    color: #212245;
    cursor: pointer;
}

.cart-icon {
    position: relative;
}

.cart-badge {
    position: absolute;
    top: 20px;
    right: -10px;
    background-color: #df2020;
    color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-menu {
    font-weight: 600;
    display: none;
}

.header-shrink {
    position: sticky;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 100;
    box-shadow: 5px 5px 15px -5px #fde4e4;
}

@media only screen and (max-width: 992px) {
    .img {
        width: 30%;
    }

    .logo-title {
        font-size: 12px;
        margin-top: -40px;
    }

    .navigation {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.425);
        z-index: 5;
        display: none;
    }

    .menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 270px;
        height: 100%;
        background-color: #fff;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 6;
        line-height: 10px;
    }

    .menu a {
        font-size: 14px;
    }

    .mobile-menu {
        display: block;
    }

    .cart-icon i,
    .user i,
    .mobile-menu i {
        font-size: 16px;
    }

    .show-menu {
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    .header {
        width: 100%;
        height: 80px;
        line-height: 80px;
    }

    .logo img {
        margin-top: -70px;
    }

    .logo-title {
        margin-top: -50px;
    }
}