.cart-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.639);
    z-index: 1000;
}

.cart {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    background: #fff;
    z-index: 999999999;
    border-radius: none;
}

.cart-item-info img {
    width: 35px;
    height: 35px;
    object-fit: cover;
}

.cart-product-title {
    font-size: 12px;
    font-weight: 600;
}

.cart-product-price {
    font-size: 12px;
}

.cart-product-price span {
    font-size: 14px;
    font-weight: 600;
    color: #df2020;
}

.increase-decrease-btn {
    background: #fde4e4;
    padding: 2px 5px;
    border-radius: 5px;
}

.increase-btn,
.decrease-btn {
    cursor: pointer;
}

.delete-btn {
    font-size: 18px;
    font-weight: 600;
}

.cart-item {
    padding-bottom: 10px;
    border-bottom: 1px solid #fde4e4;
}

.cart-close {
    width: 100%;
    height: 60px;
    padding: 10px 20px;
}

.cart-close span i {
    font-size: 20px;
    background: #212245;
    padding: 5px;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
}

.cart-item-list {
    height: calc(100vh - 140px);
    overflow-y: scroll;
}

.cart-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px 20px;
    width: 100%;
    height: 80px;
    background: #df2020;
}

.cart-bottom h6 {
    font-size: 16px;
    color: #fff;
}

.cart-bottom h6 span {
    font-size: 21px;
    font-weight: 600;
}

.cart-bottom button {
    border: none;
    padding: 4px 20px;
    border-radius: 5px;
    background: #fff;
    color: #212245;
}

.cart-bottom button a {
    color: #212245;
    font-weight: 600;
}

@media only screen and (max-width:576px) {
    .cart {
        width: 100%;
    }
}